.todoListWrapper {
  min-width: 20rem;
  background: var(--second-bg-color);
  display: inline-flex;
  padding: 2% 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  margin-top: 3rem;
  animation: show .5s ease;
  height: fit-content;
}

.todoListHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--text-color);
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
  text-align: center;
}

.deleteButton {
  transition: .3s;
  cursor: pointer;
}

.deleteButton:hover {
  color: red;
}

.todoListTasksWrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.filterWrapper {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 0.1rem solid var(--icon-color);
  border-radius: 0.5rem;
  padding: 2% 1rem;
  gap: 1.5rem;
  position: relative;
  z-index: 3;
}

.filterWrapper div:nth-child(1) > input:checked + label {
  color: var(--icon-color);
}
.filterWrapper div:nth-child(2) > input:checked + label {
  color: green;
}
.filterWrapper div:nth-child(3) > input:checked + label {
  color: red;
}
