.App {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.AppLoading {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainContentWrapper {
  margin-left: 20rem;
  padding: 2rem;
}

.todoListsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.errorMessage {
  color: red;
}