.App {
  min-width: 100vw;
  min-height: 100vh;
}

.MainContentWrapper {
  margin-left: 20rem;
  padding: 2rem;
}

.todoListsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}