@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --bg-color: #212121;
    --second-bg-color: #292929;
    --third-bg-color: #383838;
    --text-color: #e4e4e4;
    --second-text-color: #a3a3a3;
    --icon-color: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}

html {
  font-size: 90%;
}

@media (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
